#rodape-container{
	height:18px;
	float:left;
	position:fixed;
	bottom:0px;
	left:0px;
	z-index:10;	
	width:100%;
	min-width: 900px;
	background:#f0f0f0;
	border:1px solid silver;
	font-family:arial;
}

#rodape-esquerdo {
	width: 20%;
	margin: 0 0 0 0.3%;
	float: left;
	min-width: 150px;
	font-size:11px;
	margin-top:2px;
}
#rodape-centro {
	width: 58.5%;
	margin: 0 auto;
	float: left;
	text-align:center;
	font-size:11px;
	margin-top:2px;
}

#rodape-direito {
	width: 20%;
	margin: 0 0.4%;
	float: right;
	min-width: 150px;
	text-align:right;
	font-size:11px;
	margin-top:2px;
}
